*.ignoreme
*~
*.db
*.orig
*.pyc
*.rej
.installed.cfg
__minitage__*
bin/*
develop-eggs
downloads
eggs
log
parts
project/media/uploads
tmp
.idea/*
settings.py
tmp/*
media
media/*
*.swp
docs/*
gunicorn.conf.py
.sass-cache/*
*.scssc
*.sassc
